.toju-TodoItem
  align-content center
  align-items center
  align-self center
  display flex
  flex-flow row nowrap
  height 25%
  max-height 25%
  max-width 90%
  min-height 25%
  min-width 90%
  width 90%

  &-status
    align-content center
    align-items center
    align-self center
    display flex
    height 100%
    justify-content center
    max-height 100%
    max-width 10%
    min-height 100%
    min-width 10%
    width 10%

    &-btn
      align-content center
      align-items center
      align-self center
      cursor pointer
      border-radius 50%
      display flex
      height 20%
      justify-content center
      max-height 20%
      max-width 25%
      min-height 20%
      min-width 25%
      width 25%

      &-content
        height 100%
        width 100%

  &-task
    align-content center
    align-items center
    align-self center
    background-color $toju-yellow
    display flex
    flex-flow column nowrap
    height 100%
    justify-content center
    max-height 100%
    max-width 90%
    min-height 100%
    min-width 90%
    width 90%

    &:hover
      border-radius 4px
      box-shadow 0 4px 4px $toju-gray
      padding 2px 4px

    &-close
      align-content center
      align-items center
      align-self center
      cursor pointer
      display flex
      height 15%
      justify-content flex-end
      max-height 15%
      max-width 100%
      min-height 15%
      min-width 100%
      width 100%

      &-btn
        align-content center
        align-items center
        align-self center
        background-color $toju-blue
        color $toju-white
        display flex
        height 100%
        justify-content center
        max-height 100%
        max-width 5%
        min-height 100%
        min-width 5%
        width 5%

        &-content
          display none

        &:hover > &-content
          display block

    &-body
      align-content center
      align-items center
      align-self center
      display flex
      flex-flow column nowrap
      height 85%
      justify-content center
      max-height 85%
      max-width 100%
      min-height 85%
      min-width 100%
      width 100%

      &-content
        max-height 100%
        max-width 100%
