//
// Styles for todo-junctions (toju)
// ====================
//
//

//
// Colors
//
//
$toju-yellow = #E3B505
$toju-blue = #2DE1FC
$toju-red = #E71D36
$toju-green = #5DD39E
$toju-gray = #808080
$toju-white = #FAFAFA

// Status for todo
#finished
  background-color $toju-green

#unfinished
  background-color $toju-red

//
// Storybooks (Decorators, etc...)
//
//
#root
  align-content center
  align-items center
  align-self center
  display flex
  flex-flow row nowrap
  height 100vh
  justify-content center
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  width 100vw
.center-decorator
  align-content center
  align-items center
  align-self center
  display flex
  flex-flow row nowrap
  height 100%
  justify-content center
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  width 100%
